<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<form class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${signupForm}" th:fragment="signupForm">
    <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
        <div th:replace="fragments/components :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Регистрация</legend>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Имя</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="firstName" placeholder="Имя" th:field="*{firstName}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Фамилия</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="secondName" placeholder="Фамилия" th:field="*{secondName}"/>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label for="email" class="col-lg-2 control-label">Почта</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" placeholder="Почта" th:field="*{email}" />
                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Некорректный адрес электронной почты</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Телефон</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="phone" placeholder="Телефон" th:field="*{phone}"/>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label for="password" class="col-lg-2 control-label">Пароль</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" placeholder="Пароль" th:field="*{password}"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Некорректный пароль</span>
            </div>
        </div>
        <div>
            <div class="col-lg-10 col-lg-offset-2">
                <label for="role" class="control-label">Зарегестрироваться как</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <select th:field="*{role}" class="form-control" id="role">
                    <option th:value="'ROLE_USER'" th:text="Клиент"></option>
                    <option th:value="'ROLE_MANAGER'" th:text="Менеджер"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Зарегестрироваться</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <p>Есть аккаунт? <a href="signin" th:href="@{/signin}">Войти</a></p>
            </div>
        </div>
    </fieldset>
</form>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>
